<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Rental Library</a>
              
              <div>
                <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                  <li class="nav-link">
                    <a class="nav-link active" aria-current="page" href="javascript:void(0)" routerLink="/login">Login<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" y1="12" x2="3" y2="12"/></svg></a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>      
        <!-- Navbar -->
      
        <!-- Background image -->
        <!-- Background image -->
      </header>
      <main style="margin-top: 58px;" >
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <div class="row g-4">
                                        <div class="col-12">
                                            <label>Name<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="member.name" name="name" class="form-control" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Contact No<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="member.contactNo" name="contactNo" class="form-control" placeholder="Enter contact no">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Email<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="member.email" name="email" class="form-control" placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Address<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="member.address" name="address" class="form-control" placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Username<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="member.userName" name="Username" class="form-control" placeholder="Enter Username">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Password<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                <input type="password" [(ngModel)]="member.password" name="password" class="form-control" placeholder="Enter Password">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Retype-Password<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                <input type="password" [(ngModel)]="member.reTypepassword" name="reTypepassword" class="form-control" placeholder="Enter Password Again">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button (click)="addMember()" class="btn btn-primary px-4 float-end mt-4">Submit</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-bootstrap"></i>
                                <h2 class="fs-1">Rental Library System</h2>
                                <p>Already a member? <a href="javascript:void(0)" routerLink="/login" class="text-white link-primary fw-bolder text-decoration-underline">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                
            </main>
            </div>
